@import "./components/backdrop";
@import "./components/buttons";
@import "./components/card-about";

@import "./components/card-client";
@import "./components/card-database";
@import "./components/card-details";

@import "./components/card-team";
@import "./components/logo";
@import "./components/page-footer";

@import "./components/page-header";
@import "./components/base";
@import "./components/container";