.backdrop {
    position: fixed;
    width: 100%;
    height: 1024px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $backdropColor;
    z-index: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: relative;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $simpleColor;
    @include shadow-modal;
}
.elipse-cross {
    @include elipse-modal;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 490px;
    margin-right: 8px;
    background: $simpleColor;
}
.cross {
    fill: $blackColor;
    width: 11px;
    height: 11px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.modal__title {
    @include font (Roboto, 700, 20px, 1.15, 0.03em);
    margin-bottom: 12px;
    text-align: center;
    color: $titleColor;
}
.modal__name {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
}
.name__modal {
    @include font (Roboto, 400, 12px, 1.16, 0.01em);
    margin-bottom: 4px;
    color: $nameColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-name {
    padding-left: 42px;
    height: 40px;
    width: 448px;
    @include modal;
    &:hover {
        border-color: $basicColor;
    }
    &:hover .name__icon {
        border-color: $basicColor;
        fill: $basicColor;
    }
}
.name__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    fill: $titleColor;
    left: 15px;
    top: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        fill: $basicColor;
    }
    &:hover .modal-name {
        border-color:  $basicColor;
        fill: $basicColor;
    }
}
.modal__tel {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}
.tel-icon {
    position: absolute;
    width: 13px;
    height: 13px;
    fill: $titleColor;
    left: 15px;
    top: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__mail {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.email-icon {
    position: absolute;
    width: 15px;
    height: 12px;
    fill: $titleColor;
    left: 15px;
    top: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}
.modal-comment {
    @include font (Roboto, 400, 12px, 1.16, 0.01em);
    color: $commentColor;
    padding-top: 12px;
    padding-left: 16px;
    width: 448px;
    height: 120px;
    @include modal;
}
.modal__check {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    margin-right: 8.38px;
    @include checkbox;
}
.checkbox:checked {
    width: 16px;
    height: 15px;
    border-color: $basicColor;
    background-image: url("/images/icon-check.svg");
    background-color: $basicColor;
    background-size: contain;
    background-origin: border-box;
  }
.check {
    display: flex;
    @include font (Roboto, 400, 14px, 1.7, 0.03em);
    color: $nameColor;
}
.conditions {
    text-decoration: underline;
    color: $basicColor;
    margin-left: 5px;
}
.submit {
    @include border-btn;
    @include font (Roboto, 700, 16px, 1.8, 0.06em);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: $basicColor;
    margin-top: 30px;
    color: $simpleColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}