.imposter__button {
    @include font (Roboto, 700, 16px, 1.8, 0.06em);
    @include border-btn;
    display: block;
    width: 200px;
    height: 50px;
    background: $primaryColor;
    color: $simpleColor;
    margin: 30px auto 0;
    text-align: center;
}

.page__buttons {
    padding-top:94px;
    display: flex;
    justify-content: center;
}
.page__buttons :last-child {
    margin-right: 0;
}
.buttons__list {
    margin-right: 8px;
}
.button__chapter {
    @include font (Roboto, 500, 16px, 1.6, 0.03em);
    @include shadow-btn;
    background: $btn-Color;
    padding: 6px 22px;
    &:hover, &:focus {
        background: $primaryColor;
        color: $simpleColor;
        @include shadow-btn;
    }
}