.list-detail {
    display: flex;
    justify-content: center;
  }
  .list-detail__item {
    width: 270px;
    margin-right: 30px;
  }
  .list-detail__icon {
    background-size: contain;
    width: 70px;
    height: 70px;
  }
  .list-detail__figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: #F5F4FA;
    height: 120px;
    margin-bottom: 30px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-detail__title {
    font-family: 'Roboto';
    font-style: normal;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.8;
  }
  .list-detail__sabtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
  }
  