.name_port {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
    margin-top: 50px;
  }
  .name_port li {
    width: 370px;
    background: #FFFFFF;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .name_port li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .name_port li:last-child {
    margin-right: 0;
  }
  .images_port {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
  }
  .images_port_after {
    position: relative;
    overflow: hidden;
  }
 .text_port {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }  
  .text_port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 63px 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .profession_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 4px;
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;
  }
  .title-second {
    font-family: 'Roboto';
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
  }
  .images_link:hover .text_port{
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .images_link:focus .text_port{
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .about {
    padding: 20px 24px;
    box-align: left;
  }