.container-portf {
    width: 1200px;
    margin: 0 auto;
  }  
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
  }
  .container__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
  .button-use {
    padding-top: 0;
    padding-bottom: 0;
  }
  .imposter {
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url('../images/backgraund-image.jpg');
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .imposter__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }