.page {
    margin: 0 auto;
    padding: 94px 0;
}

.page__card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
    margin-top: 50px;
    padding-bottom: 94px;
}
.page__image {
    width: 370px;
    background: #FFFFFF;
    margin-bottom: 30px;
    margin-right: 30px;
    border: 1px solid #EEEEEE;
    &:hover .page__after-text .page__image-link {
        transform: translateY(0);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.page__after {
    position: relative;
    overflow: hidden;
}
.page__after-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 63px 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.card__about {
    padding: 20px 24px;
}
.card__title {
    font-family: 'Roboto';
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.card__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 4px;
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;
}
