  .hero {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero-sec {
    border-bottom: 1px solid #ECECEC;
  }
  .navigation> li {
    margin-right: 50px;
  }
  .menu-link {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    font-size: 14px;
    line-height: 1.17;
    word-spacing: 50px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.current::after {
    display: block;
    position: absolute;
    background-color:#2196F3;
    height: 4px;
    width: 100%;
    margin-top: 28px;
    border-radius: 2px;
    content: "";
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    color:#2196F3;
  }
  .navigation> li:nth-child(3) {
    margin-right: 0;
  }
  .menu-link:hover {
    color:#2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:focus {
    color:#2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero nav {
    display: flex;
  }
  .hero_ nav {
    display: flex;
  }
  .adresat {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 93px;
}
.navigation .cont {
  margin-right: 0;
}
.mail {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  margin-right: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover {
  color: #2196F3;
}
.mail:focus {
  color: #2196F3;
}
.mail_icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover .mail_icon {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:focus .mail_icon {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel:hover {
  color: #2196F3;
}
.tel_icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel:hover .tel_icon {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel:focus {
  color: #2196F3;
}
.tel:focus .tel_icon {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}