.header {
    display: flex;
    align-items: center;

}
.header__border {
border-bottom: 1px solid #ECECEC;
}
.header__container {
    display: flex;
    height: 80px;
    flex-wrap: wrap;
    align-content: center;
}
.main-nav {
    display: flex;
    
}
.current {
    color: #2196F3;
}
.menu__link.current::after {
display: block;
position: absolute;
background-color: #2196F3;
height: 4px;
width: 100%;
margin-top: 28px;
border-radius: 2px;
content: "";
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__title {
    margin-right: 93px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.83;
    color: #212121;
}
.main-nav__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.83;
    color: #2196F3;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.menu__list :last-child {
    margin-right: 0;
}
.menu__item {
    display: flex;
    margin-right: 50px;
}
.menu__link {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8;
    color: #212121; 
    &:hover, &:focus {
        color:#2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.main-nav__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.mail {
    margin-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8;
    color: #757575;
   &:hover, &:focus {
        color:#2196F3;
        fill:#2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.tel {
    margin-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8;
    color: #757575;
    &:hover, &:focus {
        color:#2196F3;
        fill:#2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.tel__icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}