.section {
    display: block;
    align-content: center;
    margin: 0 auto;
    padding-top: 94px;

    &-team {
        background: #F5F4FA;
        padding-bottom: 94px;
    }
    &-client {
        padding-bottom: 94px;
    }
    &-about {
        padding-bottom: 94px;
    }
}
