$primaryColor: #2196F3;
$simpleColor: #ffffff;
$labelColor: rgba(47, 48, 58, 0.8);
$nameColor: #757575;

$backdropColor: rgba(0, 0, 0, 0.2);
$blackColor: #000000;
$titleColor: #212121;
$commentColor: rgba(117, 117, 117, 0.5);
$btn-Color: #F5F4FA;
$clientColor: #AFB1B8;
